/*=======Contacts=======*/
.contacts_wrapper {
    background-color: #232627;
    width: 100%;
    gap: 40px;

}

.contacts {
    padding: 48px 32px;
}


.icon_and_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contacts_icon_title {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.contacts_icon_title > span {
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}
.contacts_top > a {
    text-decoration: none;
    display: flex;
    align-items: center;
}


.rectangle {
    text-align: center;
    width: 24px;
    height: 1px;
    background-color: #6C7275;
    margin: auto;
}

.contacts_subtitle {
    color: #E8ECEF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    align-self: center;
    gap: 40px;
}

.contacts_navigation {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 24px 0;
}

.contacts_navigation > li {
    list-style: none;
    color: #FEFEFE;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

.contacts_navigation > li > a {
    text-decoration: none;
}
.contacts_navigation > li > a:visited {
    color: #FEFEFE;
}

.contacts_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-top: 0.5px solid #6C7275;
}

.contacts_icons {
    padding: 24px 0 24px 0;
    display: flex;
    gap: 24px;
}

.policy_copyright {
    color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

}

.policy {
    color: #FEFEFE;
    font-family: Poppins, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.policy > p {
    cursor: pointer;
}

.copyright {
    color: #E8ECEF;
    font-family: Poppins, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

/*=======Contacts=======*/
/*======= 769 - 1280 =======*/
@media (min-width: 769px) {
    .contacts_wrapper {
        gap: 49px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        /*max-width: 1120px;*/
        /*justify-content: center;*/
        /*align-items: center;        */
        /*flex-wrap: wrap;*/
    }

    .rectangle {
        transform: rotate(90deg);
    }

    .icon_and_navigation {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .contacts_top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contacts_navigation {
        flex-direction: row;
        justify-content: end;
        width: auto;
    }

    .contacts_bottom {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .policy_copyright {
        flex-direction: row-reverse;
        width: auto;
        justify-content: space-around;

    }

    .copyright {
        width: auto;
    }

    .policy {
        justify-content: start;
        width: auto;
    }

    .policy > p {
        margin-left: 35px;
    }

}



