.imageBlock{
    position: relative;
    min-height: 200px;
}
.imageBlock img{
    width: 100%;
}
.badges{
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 0;
}
.addToCart {
    opacity: 0;
    visibility: hidden;
    width: calc(100% - 24px);
    text-align: center;
    position: absolute;
    bottom: 16px;
    margin: 0 12px;
    padding: 4px 0;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    border: none;
}
.addToCart:hover{
    background-color: #3b3e3f;
}
.addToCart:active{
    background-color: #6C7275;
}
.descriptionBlock .addToCart{
    display: none;
}
.productCard:hover .imageBlock .addToCart {
    opacity: 1;
    visibility: visible;
}
.description{
    color: #6C7275;
    display: none;
}
.name{
    margin: 4px 0;
    font-size: 1rem;
    line-height: 1.4rem
}
.mobile2 .name{
    font-size: 0.85rem;
}
.fullPrice{
    margin-left: 12px;
    color: #6C7275;
    text-decoration: line-through;
}
.mobile1 .imageBlock .addToCart{
    display: none;
}
.mobile1 .descriptionBlock{
    padding: 12px;
    font-size: 0.95rem;
}
.mobile2 .descriptionBlock{
    font-size: 0.85rem;
}
.mobile1 .descriptionBlock .name{
    margin: 15px 0 11px;
}
.mobile1 .descriptionBlock .description{
    margin-top: 8px;
}
.mobile1 .descriptionBlock .addToCart{
    width: 100%;
    position: relative;
    display: block;
    visibility: visible;
    opacity: 1;
    bottom: auto;
    margin: 16px 0 0;
    line-height: 24px;
}

@media screen and (min-width: 768px){
    .mobile1 .descriptionBlock .addToCart{
        display: none;
        visibility: hidden;
    }
    .mobile1 .imageBlock .addToCart{
        display: block;
    }
    .addToCart{
        width: Calc(100% - 32px);
        row-gap: 24px;
        column-gap: 24px;
        margin: 0 16px;
        padding: 8px 0;
    }
    .desktop4 .rating, .desktop3 .rating{
        margin-top: 12px;
    }
    .desktop2{
        display: flex;
    }
    .desktop2 .imageBlock{
        width: 50%;
        overflow-x: hidden;
    }
    .desktop2 .imageBlock .addToCart{
        display: none;
    }
    .desktop2 .rating{
        margin-bottom: 0;
    }
    .desktop2 .description{
        margin: 5px 0 5px !important;
    }
    .descriptionBlock{
        font-size: 0.85rem;
    }
    .desktop2 .descriptionBlock{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        width: 50%;
        padding: 1vw;
    }
    .name, .rating{
        font-size: 1rem;
    }

    .desktop2 .descriptionBlock .addToCart{
        width: 100%;
        position: relative;
        display: block;
        visibility: visible;
        opacity: 1;
        bottom: auto;
        margin: 16px 0 0;
        line-height: 1.4rem;
    }
    .desktop2 .description{
        display: block;
        margin: 16px 0 24px;
    }
}
@media screen and (min-width: 1000px){
    .desktop2 .descriptionBlock{
        padding: 24px;
    }
    .desktop2 .rating{
        margin-bottom: 16px;
    }
    .desktop2 .description{
        margin: 16px 0 24px !important;
    }
}