.auth-form-up{
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 32px;
position: absolute;
width: 456px;
height: 520px;
right: 160px;
top: 220px;
background: var(--darktheme-text-secondary);
}
.auth-form-up-title{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 456px;
height: 94px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.auth-form-up-header{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
width: 456px;
height: 44px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.auth-form-up-content{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 456px;
height: 44px;
flex: none;
order: 0;
flex-grow: 1;
}
.auth-form-up-h4{
font-family: var(--font-secondary);
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 44px;
letter-spacing: -0.4px;
color: var(--primary-dark);
}
.auth-form-up-subtitle{
width: 456px;
height: 26px;
font-family: var(--font-primary);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: var(--regular-grey);
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;  
text-align: left  
}
.signUplink{
color: var(--primary-green-theme);  
}
.auth-form-form-up{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 456px;
height: 314px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.form-up{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 456px;
height: 314px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.formInputUp1{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;
gap: 10px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 1;
flex-grow: 0;
}
.contentInputUp1{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 8px;
gap: 16px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
   
.formInputUp2{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;
gap: 10px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 2;
flex-grow: 0;
}
.contentInputUp2{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 8px;
gap: 16px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.formInputUp3{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;
gap: 10px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 3;
flex-grow: 0;
}
.contentInputUp3{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 8px;
gap: 16px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.formInputUp4{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;
gap: 10px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 4;
flex-grow: 0;
}
.contentInputUp4{
position:relative;
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 8px;
gap: 16px;
width: 456px;
height: 40px;
border-bottom: 1px solid #E8ECEF;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
    
.option-form-sign-up{
position: relative;
width: 456px;
height: 26px;
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
}
   
.sign-up-radioButton {
box-sizing: border-box;
position: absolute;
width: 24px;
height: 24px;
right: 0px;
top: 1px;
gap:12px;
background: var(--darktheme-text-fade);
border: 1.5px solid #6C7275;
border-radius: 4px; 
}
.sign-up-agree{
position: absolute;
right: 10px;
width: 420px;
height: 26px;
font-family: var(--font-primary);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: var(--regular-grey);
flex: none;
order: 1;
flex-grow: 1;
}
.sign-up-linkP{
color: var(--black-text);
font-weight: bold;
}