.meta
{
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.category
{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.static
{
    color: #6C7275;
    font-size: 12px;
    font-family: Inter, serif;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    margin-right: 50px;
}

.active
{
    font-size: 12px;
    font-family: Inter, serif;
    color: #141718;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}