.auth-page-up {
    font-family: var(--font-primary);
    background-color: var(--darktheme-text-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.left-side-of-site-up {
    display: flex;
    flex: 1;
    width: 50vw;
    height: 100vh;
    flex-wrap: wrap;

  }
  .right-side-of-site-up {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 50vw;
    height: 100vh;
    flex-wrap: wrap;
  }
  .pasteImageUp {
    background: var(--primary-light-theme);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgChairUp {
    width: 48vw;
  }
.legant-of-left-side-up {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 24vw;
    top: 32px;
    transform: translateX(-50%);
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--black-text);
}
.auth-form-right-side-up {
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 32vw;
    height: 35vh;
    background: var(--darktheme-text-secondary);
}
.auth-form-title-up{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 32vw;
height: 4vh;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.h4{
font-family: var(--font-secondary);
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 44px;
letter-spacing: -0.4px;
color: var(--primary-dark);
}
.auth-form-up-subtitle-up{
width: 32vw;
height: 16px;
font-family: var(--font-primary);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: var(--regular-grey);
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;  
text-align: left  
}
.signInlink{
color: var(--primary-green-theme);  
}
.auth-form-form-up{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 14px;
width: 32vw;
height: 16vh;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.form-up{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;
width: 32vw;
height: 16vh;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 0px;
}
.option-form-sign-up{
  display: flex;
  flex-direction: row;
  width: 32vw; 
  height: 2vh;
  gap: 3px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
   
.sign-up-radio-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  top: 1px;
  background: var(--darktheme-text-fade);
  border: 1.5px solid var(--regular-grey);
  border-radius: 4px; 
}
.sign-up-agree{
width: 32vw; 
height: 2vh;
font-family: var(--font-primary);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: var(--regular-grey);
flex: none;
order: 1;
flex-grow: 1;
}
.sign-up-linkP{
color: var(--black-text);
font-weight: bold;
}
@media (min-width: 1440px) {
  .auth-page-up{
    width: 100vw;
    height: 100vh;
    }
    .left-side-of-site-up {
      width: 50vw;
      height: 100vh;
    }
    .right-side-of-site-up{
    width: 50vw;
    height: 100vh;
    }
    .legant-of-left-side-up {
    left: 40vw;
    }      
    .imgChairUp{
      width: 50vw;
    } 
  
}
@media (min-width: 768px) and (max-width: 1439px) {
  .auth-page-up{
  width: 100vw;
  height: 100vh;
  }
  .left-side-of-site-up {
    width: 35vw;
    height: 100vh;
  }
  .right-side-of-site-up {
  width: 50vw;
  height: 100vh;
  }
  .legant-of-left-side-up {
  left: 25vw;
  }  
  .imgChairUp{
    width: 50vw;
    height: 100vh;
  } 
  .auth-form-right-side-up{
    width: 45vw;
    height: 48vh;
  } 
  .auth-form-title-up{
    width: 45vw;
  }
  .auth-form-form-up{ 
    width: 45vw;
  }
  .form-up {
    width: 45vw;
  }
  .option-form-sign-up{
    width: 45vw;
  }
  .sign-up-agree{
    font-size: 14px;
  }
       }
      @media (min-width: 375px) and (max-width: 767px) {
        .auth-page-up{
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: column;
          text-align: center;
  }
        .left-side-of-site-up {
          width: 100vw;
          height: 50vh;
        }
        .right-side-of-site-up {
          width: 100vw;
          height: 50vh;
        }
        .legant-of-left-side-up {
          left: 48vw;
        }      
  .imgChairUp{
    width: 100vw;
  } 
  .auth-form-right-side-up{
    width: 90vw;
    height: 48vh;
  } 
  .auth-form-title-up{
    width: 85vw;
    height: 3vh;
    margin-top: 2vh;
  }
  .auth-form-form-up{ 
    width: 85vw;
  }
  .form-up {
    width: 84vw;
    height: 50vh;
  }
  .option-form-sign-up{
    width: 84vw;
  }
  .sign-up-agree{
    font-size: 12px;
  }
  } 