.slide_elements
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bottom_elements
{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 1231px) {
    .bottom_elements
    {
        display: none;
    }
    .slide_elements
    {
        width: 375px;
    }
}