.order_summary {
  padding: 14px;
  border: 1px solid var(--regular-grey);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.summary_header {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--primary-dark);
}
.order_summary_cards {
  margin-bottom: 24px;
}
.promo_input {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-bottom: 16px;
}
.promo_code_text {
  flex: 2;
  padding: 13px 16px;
  border: 1px solid var(--light-grey-fade);
  border-radius: 6px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--semibold-grey-text);
  width: 100%;
}
.discount_button {
  margin: 0;
}
.promo_button {
  flex: 1;
}
.order_info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  border-bottom: 1px solid var(--light-grey-primary);
}
.percent_icon {
  width: 24px;
  height: 24px;
}
.discount_code_text {
  margin: 0;
  width: 90px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--primary-dark);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.discount_info_group {
  display: flex;
  align-items: center;
  gap: 8px;
}
.discount_typography {
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: var(--primary-green-theme);
}
.discount_amount_text {
  margin: 0;
}
.remove_discount {
  padding: 0;
  border: none;
  background-color: var(--darktheme-text-primary);
  cursor: pointer;
}
.order_contain_info {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--primary-dark);
}
.order_contain_price{
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: var(--primary-dark);
}
.total_price {
  border-bottom: none;
}
.order_total {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--primary-dark);
}
.place_order_button {
  margin: 0;
}
@media (min-width: 920px) {
  .summary_header {
    font-size: 28px;
    line-height: 34px; /* 121.429% */
    margin-bottom: 16px;
  }
  .order_summary {
    padding: 16px 24px;
  }
}