.block {
    display: none;
}

@media screen and (min-width: 768px) {
    .block {
        display: block;
        width: 30%;
        padding-right: 30px;
        min-width: 160px;
        max-width: 262px;
    }

    .price {
        display: flex;
        flex-direction: column;
    }

    .categories > p,
    .price > p {
        font-size: 1rem;
        font-weight: 600;
        color: var(--bold-black);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .price > p {
        margin-top: 30px;
    }

    .categories > ul {
        padding: 0;
        height: 226px;
        overflow-y: scroll;
    }

    .categories > ul::-webkit-scrollbar {
        width: 8px;
        padding: 8px;
    }

    .categories > ul::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: var(--light-grey-secondary);
    }

    .categories > ul::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--regular-grey);
    }

    .categories > ul > li {
        cursor: pointer;
        list-style: none;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: #807E7E;
        margin: 20px 0;
    }

    .categories > ul> li:first-child {
        margin-top: 0;
    }

    .categories > ul > li:hover {
        color: var(--bold-black);
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .price > label {
        cursor: pointer;
        display: flex;
        justify-content: start;
        position: relative;
        user-select: none;
        margin: 0 0 20px 0;
    }

    .price > label > input[type='radio'] {
        opacity: 0;
        position: absolute;
        height: 0;
        width: 0;
    }

    .checkboxCheckmark {
        position: absolute;
        left: calc(100% - 24px);
        top: -5px;
        height: 24px;
        width: 24px;
        border: 2px solid #969fa1;
        border-radius: 4px;
    }

    .checkboxCheckmark::after {
        content: '';
        position: absolute;
        left: 8px;
        top: 3px;
        width: 6px;
        height: 11px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    .price > label > input[type='radio']:checked ~ .checkboxCheckmark {
        background-color: var(--bold-black);
        border-color: var(--bold-black);
    }

    .price > label > input[type='radio']:checked ~ .checkboxCheckmark::after {
        opacity: 1;
    }

    .price > label:hover input[type='radio'] ~ .checkboxCheckmark {
        border-color: #595c60;
    }

    .price > label:hover input[type='radio']:checked ~ .checkboxCheckmark {
        background-color: var(--bold-black);
        border-color: var(--bold-black);
    }

    .price > label input[type='radio']:checked ~ p {
        color: var(--bold-black) !important;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .price > label > p {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        color: var(--regular-grey);
    }

    .price > label:hover {
        color: var(--bold-black);
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .price > label:hover > p {
        color: var(--bold-black);
    }

    .checked {
        color: var(--bold-black) !important;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

}