.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productGallery {
    width: 100%;
    display: grid;
    row-gap: 16px;
    column-gap: 8px;
}
.showMore{
    padding: 6px 40px;
    width: max-content;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    border-radius: 80px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    margin: 40px 0;
    cursor: pointer;
}
.showMore:active{
    background-color: #d9d9d9;
}
@media screen and (min-width: 768px){
    .wrapper{
        width: Calc(100% - 254px);
    }
    .productGallery{
        row-gap: 24px;
        column-gap: 24px;
    }

    .showMore{
        margin: 80px 0;
    }
}