.auth-page-for {
    font-family: var(--font-primary);
    background-color: var(--darktheme-text-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.left-side-of-site-for {
    display: flex;
    flex: 1;
    width: 50vw;
    height: 100vh;
    flex-wrap: wrap;

  }
  .right-side-of-site-for {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 50vw;
    height: 100vh;
    flex-wrap: wrap;
  }
  .pasteImageFor {
    background: var(--primary-light-theme);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgChairFor {
    width: 48vw;
  }  
  .legant-of-left-side-for {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 24vw;
    top: 32px;
    transform: translateX(-50%);
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--black-text);
  }
.auth-form-right-side-for{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 32vw;
    height: 35vh;
    background: var(--darktheme-text-secondary);
    }
    .auth-form-title-for{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 32vw;               
    height: 9vh;
    flex: none;    
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    .h3{
      font-family: var(--font-secondary);
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.4px;
      color: var(--primary-dark);
      } 
.auth-form-subtitle-for{
  width: 32vw; 
    height: 26px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--regular-grey);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;  
    text-align: left  
    }
    .signInlink{
    color: var(--primary-green-theme);  
    }
    .auth-form-form-for{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 32vw; 
    height: 16vh;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
    .form-for{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 32vw; 
    height: 16vh;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 0px;
    }
@media (min-width: 1440px) {
  .auth-page-for{
    width: 100vw;
    height: 100vh;
    }
    .left-side-of-site-for {
      width: 50vw;
      height: 100vh;
    }
    .right-side-of-site-for {
    width: 50vw;
    height: 100vh;
    }
    .legant-of-left-side-for {
    left: 40vw;
    }      
    .imgChairFor{
      width: 50vw;
    } 
  
}
@media (min-width: 768px) and (max-width: 1439px) {
.auth-page-for{
width: 100vw;
height: 100vh;
}
.left-side-of-site-for {
width: 40vw;
height: 100vh;
}
.right-side-of-site-for {
width: 40vw;
height: 100vh;
}
.legant-of-left-side-for {
left: 25vw;
}      
.imgChairFor{
width: 50vw;
} 
.auth-form-right-side-for{
width: 45vw;
height: 48vh;
} 
.auth-form-title-for{
width: 45vw;
}
.auth-form-form-for{ 
width: 45vw;
}
.form-for {
width: 45vw;
}
}
@media (min-width: 373px) and (max-width: 767px) {
  .auth-page-for{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
  .left-side-of-site-for {
    width: 100vw;
    height: 50vh;
  }
  .right-side-of-site-for {
    width: 100vw;
    height: 50vh;
  }
  .legant-of-left-side-for {
    left: 48vw;
  }      
.imgChairFor{
width: 100vw;
} 
.auth-form-right-side-for{
width: 90vw;
height: 48vh;
} 
.auth-form-title-for{
margin-top: 20px;
width: 85vw;
}
.auth-form-form-for{ 
width: 85vw;
}
.form-for {
width: 84vw;
}
.auth-form-subtitle-for{
width: 84vw;
}
}      
    
   