.accountContent {
    padding: 0 32px 80px 32px;
}

.header {
    padding: 16px 0 40px 0;
}

.accountMainContainer {
    display: flex;
    flex-direction: column;
}

.sideMenu {
    display: none;
}

.backButton {
    background-color: transparent;
    border: none;
    color: var(--semibold-grey-text);
    padding: 5px 10px;
    font-family: var(--font-primary);
    font-size: 14px;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

.title {
    text-align: center;
    padding: 0 32px;
    color: var(--black-text);
    font-family: var(--font-secondary);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.4px;
}

.profileSection {
    max-width: 343px;
    padding: 40px 16px;
    border-radius: 8px;
    background: var(--primary-light-theme);
    margin-bottom: 40px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 40px;
}

.accountName {
    font-family: var(--font-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.buttonDropMenu {
    display: flex;
    max-width: 280px;
    padding: 8px 8px 8px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(--regular-grey);
}

.buttonName {
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.imageArrowDown {
    width: 24px;
    height: 24px;
}

@media (min-width: 768px) {
    .accountMainContainer {
        display: flex;
        align-items: center;
    }

    .profileSection {
        min-width: 312px;
    }
}

@media (min-width: 1120px) {
    .backButton {
        display: none;
    }

    .accountContent {
        padding: 0 160px 80px 160px;
    }

    .header {
        padding: 80px 0 80px 0;
    }

    .accountMainContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 1120px;
    }

    .profileSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 230px;
        margin-bottom: 0;
        margin-right: 79px;
    }

    .buttonDropMenu {
        display: none;
    }

    .sideMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .navLink {
        text-decoration: none;
        color: var(--regular-grey);
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        word-wrap: break-word
    }

    .sideMenuEl {
        color: var(--regular-grey);
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        word-wrap: break-word
    }

}
