.formAccountDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 40px;
    font-family: Inter, serif;
}

.titleForm {
    color: var(--black-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

fieldset {
    border: none;
}

.inputContainer {
    color: var(--regular-grey);
    display: flex;
    width: 312px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.formAccountDetails input {
    display: flex;
    height: 40px;
    padding: 0 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--light-grey-fade);
    background: var(--darktheme-text-primary);
}

.inputContainer label {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
}

.formAccountDetails p {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
}

.buttonSaveChanges {
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--primary-dark);
    color: var(--darktheme-text-primary);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
}

@media (min-width: 1120px) {
    .containerForm {
        display: flex;
        /*width: 851px;*/
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .inputContainer {
        width: 707px;
    }

}