.blogWrapper {
    width: 1440px;
    gap: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
}

.wrapper
{
    width: 357px;
    height: 433px;
    cursor: pointer;
}

.wrapperBtn
{
    width: 357px;
    text-align: center;
}

.btnMore
{
    background-color: transparent;
    width: 163px;
    height: 40px;
    border: 1px solid #141718;
    color: #141718;
    padding: 6px 40px 6px 40px;
    gap: 8px;
    text-align: center;
    border-radius: 80px;
    font-weight: bold;
    cursor: pointer;
}
a
{
    text-decoration: none;
    color: black;
}

@media (max-width: 769px)
{
    .wrapper {
        width: 100%;
        height: 433px;
    }

    .blogWrapper {
        width: 50%;
    }

}