.h2
{
    font-size: 4rem;
    margin: 0;
}
.images
{
    width: 100%;
}
.articleWrapper
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 16px 10px 80px 10px;
    max-width: 1121px;
}


.articleHead
{
    display: flex;
    width: 1121px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.authorArt
 {
     display: flex;
 }
.authorArt span
{
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-right: 50px;
}
.contentArt
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.authorName
{
    display: flex;
}
.userIco
{
    margin-right: 3px;
}


@media (max-width: 769px)
{
    .articleWrapper
    {
        width: 311px;
    }
    .h2
    {
        font-size: 2rem;
    }
    .articleHead
    {
        width: 311px;
    }
    .images
    {
        width: 311px;
    }
}