/*=======Slider=======*/
/*======= 0 - 768 =======*/
p {
    margin: 0;
}

h6 {
    margin: 0;
}


.slider_section {
    display: flex;
    width: 375px;
    padding: 0 32px 40px 32px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.image_slider {
    display: flex;
    width: 311px;
    height: 304px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 32px 0 32px;

}

.slider_section_texts {
    display: flex;
    width: 311px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}


.slider_img_small {
    width: 311px;
    height: 304px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    /*flex:0;*/
    /*width:auto;*/
    /*min-height:100%;*/
}

.slider_img_big {
    display: none;
    width: 1120px;
    height: 536px;
    flex-shrink: 0;
}

.img_slider_btn_left, .img_slider_btn_right {
    display: none;
}

.navigation_dots {
    display: none;
}


.slider_section_slogan {
    font-family: Poppins, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 110% */
    letter-spacing: -0.4px;
    margin: 0;
}

.slider_section_gift_disclaimer {
    color: #6C7275;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.slider_section_gift_disclaimer > span {
    color: #343839;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
}

/*=======Slider=======*/
/*======= 769 - 1280 =======*/

@media (min-width: 769px) {
    .slider_section {
        width: 100%;
        max-width: 1120px;
        padding: 0 160px 40px 160px;
    }

    .image_slider {
        width: 1120px;
        height: 536px;
        /*justify-content: center;*/
        /*align-items: center;*/
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }

    .slider_img_small {
        display: none;
    }

    .slider_img_big {
        display: block;
        position: absolute;
    }

    .img_slider_btn_left, .img_slider_btn_right {
        display: flex;
        width: 52px;
        height: 52px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.04);
        border-radius: 50%;
        background: #FFF;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
    }

    .img_slider_btn_left {
        position: relative;
        right: 501px;
        top: 52px;
    }

    .img_slider_btn_right {
        position: relative;
        left: 501px;
    }

    .navigation_dots {
        display: flex;
        position: relative;
        top: 179px;
        cursor: pointer;

    }

    .current_dot {
        background-color: #FEFEFE;
        width: 30px;
        height: 8px;
        border: 1px solid #FEFEFE;
        border-radius: 100px;
    }

    .dot {
        background-color: #FEFEFE;
        width: 8px;
        height: 8px;
        border: 1px solid #FEFEFE;
        border-radius: 50%;
        margin-left: 16px;
    }

    .slider_section_texts {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1120px;
        /*gap: 24px;*/
    }

    .slider_section_slogan {
        font-family: Poppins, serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 500;
        line-height: 76px; /* 105.556% */
        letter-spacing: -2px;
        margin: 0;
    }

    .slider_section_gift_disclaimer {
        margin-right: 50px;
    }

}

/*=======Banner grid=======*/
/*======= 0 - 768 =======*/
.banner_grid_wrapper {
    display: flex;
    width: 375px;
    height: 770px;
    padding: 0 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


.banner_grid_img_placeholder {
    display: flex;
    width: 311px;
    height: 377px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-image: url("images/sliderGridPlaceholder.png");
    background-size: cover;
    flex-shrink: 0;

}

.banner_grid_texts {
    margin: 32px 32px auto 32px;
}

.shop_now_link {
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid #141718;
    width: fit-content;
}

.shop_now_btn {
    background: none;
    border: none;
    padding: 0;
}

.banner_grid_title {
    color: #141718;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 121.429% */
    letter-spacing: -0.6px;
    margin-bottom: 8px;
}

.banner_grid_cards {
    display: flex;
    flex-direction: column;
}


.banner_grid_cards_card1, .banner_grid_cards_card2 {
    width: 311px;
    height: 180px;
    flex-shrink: 0;
    background-size: contain;
    margin-bottom: 16px;

}

.banner_grid_cards_card1 > .banner_grid_texts, .banner_grid_cards_card2 > .banner_grid_texts {
margin-top: 95px;

}

.banner_grid_cards_card1 {
    background-image: url("images/cardPlaceholder1.png");
}

.banner_grid_cards_card2 {
    background-image: url("images/cardPlaceholder2.png");
}

.banner_grid_cards_card > img {
    width: 100%;
}
/*=======Banner grid=======*/
/*======= 769 - 1280 =======*/
@media (min-width: 769px) {
    .banner_grid_wrapper{
        flex-direction: row;
        width:100%;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
    }
    .banner_grid_img_placeholder{
        width: 548px;
        height: 664px;
        flex-shrink: 0;
    }
    .banner_grid_cards{
        width: 548px;
        height: 662px;
        align-items: flex-start;
        gap: 24px;
        flex-shrink: 0;
    }
    .banner_grid_cards_card1, .banner_grid_cards_card2{
        width: 548px;
        height: 319px;
        flex-shrink: 0;
        margin: 0;
    }


}