.left-side {
  width: 100%;
}
.pasteImage {
    background: var(--primary-light-theme);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .logo-of-left-side {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 38%;
    top: 32px;
    transform: translateX(-50%);
  }
  
  .legant-of-left-side {
    position: absolute;
    width: 105px;
    height: 0px;
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--black-text);
  }
  
  @media (min-width: 768px) and (max-width: 1439px) {
    .pasteImage{
      width: 100%;
    }
  }
  @media (min-width: 374px) and (max-width: 767px) {
    .pasteImage{
      width: 100%;
    }
  
  }