.auth-page {
    font-family: var(--font-primary);
    background-color: var(--darktheme-text-primary);
    position: relative;
    width: 100%;
    height: 1080px;
    display: flex;
  }
  
  .left-side-of-site {
    flex: 2;
    position: relative;
    height: 100%;
  }
  
  .image-of-left-side {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .pasteImage {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--primary-light-theme);
    background-blend-mode: multiply, normal;
  }
  
  .logo-of-left-side {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
  }
  
  .legant-of-left-side {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--black-text);
  }
  
  .right-side-of-site {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .auth-page {
      flex-direction: column;
    }
  
    .right-side-of-site {
      margin-top: 16px;
    }
  }
  
  @media (max-width: 375px) {
    .image-of-left-side {
      order: 2;
    }
  
    .right-side-of-site {
      margin-top: 16px;
      width: 100%;
    }
  
    .pasteImage {
      width: 100%; 
      height: 50%; 
      background-size: cover; 
    }
  
    .right-side-of-site {
      margin-top: 16px;
      align-items: center;
    }
  }
  
  