.wrapper {
    height: 433px;
    width: 100%;
    overflow: hidden;
}

.articleImg {
    height: 70%;
    margin-bottom: 15px;
    overflow: hidden;
}

.wrapper img {
  height: 150%;
    width: auto;
    margin-bottom: 15px;
}

.mainField {
    font-weight: bold;
    margin-bottom: 10px;
}

.dateField {
    color: #6C7275;
}


