.wrapper
{
    width: 327px;
    height: 433px;
}

.articleImg {
    width: 327px;
    height: 325px;
    margin-bottom: 15px;
    overflow: hidden;
}

.articleImg img {
width: auto;
    height: 100%;
}

.mainField {
    font-weight: bold;
    margin-bottom: 10px;
}

.dateField {
    color: #6C7275;
}


