.articles_section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: #FFF;;
}
.articles_section_inner{
    padding: 32px;
}
.articles_title
{
    color: var(--black-text);
    font-family: var(--font-secondary);
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -0.6px;
    margin: 0;

}
.title_section
{
    display: flex;
    width: 311px;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
}
.shop_now_link {
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid #141718;
    width: fit-content;
}

.shop_now_btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size:0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.4px;
}
.cards_block {
    display: flex;
    flex-direction: column;
    /*gap: 24px;*/
}

@media (min-width: 769px)
{
    .articles_section
    {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }
    .articles_section_inner{
       display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .shop_now_btn {
        font-size:1rem;
        line-height: 1.75rem;

    }

    .title_section
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .cards_block
    {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}