.isShow_wide {
  display: none;
}
@media (min-width: 1120px) {
  .cart_main_container {
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;
  }
.isShow_wide {
  display: block;
}
}