.contain_container {
  padding: 0px 32px 0px;
}
.table_header {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--regular-grey);
}
.table_header_item {
  margin: 0;
  color: var(--bold-black);
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.table_header_wide {
  display: none;
}
.cart_contain {
  color: var(--errors-form-text);
  font-size: 1.2rem;
  font-family: var(--font-primary);
}
@media (min-width: 900px) {
  .table_header {
    display: none;
  }
  .table_header_wide {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--regular-grey);
  }
  .table_header_wide_additional {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
  }
  .cart_contain {
    font-size: 1.5rem;
  }
}
@media (min-width: 1120px) {
  .contain_container {
    padding: 0;
    max-width: 643px;
    width: 100%;
  }
  .table_header_wide_additional {
    max-width: 322px;
    width: 100%;
  }
}