.new_arrivals_section {
    background: var(--darktheme-text-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.new_arrivals_title {
    color: var(--black-text);
    font-family: var(--font-secondary);
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -0.6px;
    margin: 0;
    padding: 32px 0 32px 32px;
}

#desktop_shop_now {
    display: none;
}
#mobil_shop_now{
    margin: 40px 0 32px 32px;
    display: block;
}

.product_scrolling_bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: hidden;
    padding-bottom: 32px;
}

.product_scrolling_bar::-webkit-scrollbar {
    width: 8px;
    padding: 8px;
}

.product_scrolling_bar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #EAEAEA;
}

.product_scrolling_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6C7275;
}

.product_scrolling_bar:hover {
    overflow-x: scroll;
}

.product_card_element {
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.product_images {
    position: relative;
}

.product_images_placeholder {
    display: flex;
    width: 231px;
    height: 308px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new_and_discount_badge {
    position: absolute;
    padding: 16px;
    bottom: 255px;
}

.badge_new {
    margin: 0 0 8px 0;
    color: var(--primary-dark);
    text-align: center;
    background-color: var(--darktheme-text-primary);
    padding: 4px 14px;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
}

.badge_sale {
    margin: 0;
    display: flex;
    padding: 4px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--primary-green-theme);
}

.add_to_cart {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    display: flex;
    width: 90%;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--primary-dark);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
    z-index: 3;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.product_card_element:hover .add_to_cart{
    opacity: 1;
    visibility: visible;
}

.link_add_to_cart {
    z-index: 2;
}

.text_add_to_cart {
    color: var(--darktheme-text-secondary);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.4px;
}

.text_and_price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    justify-content: space-between;
}

.rating_group {
    display: flex;
    width: 88px;
    height: 16px;
    justify-content: start;
    align-items: center;
    gap: 2px;
}

.cart_product_name {
    align-self: stretch;
    color: var(--primary-dark);
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
}

.product_new_price {
    color: var(--primary-dark);
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4rem;
}

.product_old_price {
    color: var(--regular-grey);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
    text-decoration-line: line-through;
    text-decoration-color: var(--regular-grey);
    margin-left: 12px;
}

.scrollIndicator {
    width: 198px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 80px;
}


@media (min-width: 769px) {
    .new_arrivals_section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .new_arrivals_header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: end;

    }

    .new_arrivals_title {
        color: var(--black-text);
        font-family: var(--font-secondary);
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.75rem;
        letter-spacing: -0.4px;
        margin-top: 10px;

    }

    #desktop_shop_now{
        display: block;
        margin: 0 32px 32px 0;
    }

    #mobil_shop_now{
        display: none;
    }

    .product_images img {
        width: 262px;
        height: 349px;
    }

}