.auth-page {
    font-family: var(--font-primary);
    background-color: var(--darktheme-text-primary);
    position: relative;
    width: 100%;
    height: 1080px;
  }
  
  .left-side-of-site {
    position: relative;
    height: 1080px;
  }
  
  .image-of-left-side {
    position: relative;
  }
  
  .pasteImage {
    position: relative;
    background: var(--primary-light-theme);
    background-blend-mode: multiply, normal;
  }
  
  .logo-of-left-side {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
  }
  
  .legant-of-left-side {
    width: 105px;
    height: 24px;
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--black-text);
  }
  
  .right-side-of-site {
    position: relative;
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .auth-page {
      display: flex;
    }
  
    .left-side-of-site {
      flex: 1;
    }
  
    .right-side-of-site {
      flex: 1;
    }
  }
  
  @media (min-width: 1440px) {
    .left-side-of-site {
      flex: 2;
    }
  
    .right-side-of-site {
      flex: 1;
    }
  }
  
  @media (max-width: 375px) {
    .image-of-left-side {
      order: 2;
    }
  
    .logo-of-left-side {
      left: 50%;
      top: 8px;
      transform: translateX(-50%);
    }
  
    .right-side-of-site {
      margin-top: 16px;
    }
  }
  