.orderContainer {
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--light-grey-primary);
    padding: 16px 0;
    width: 312px;
}

.sectionOrdersDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mobileHeader {
    color: var(--regular-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 140px;

}

.item {
    width: 130px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

}

@media (min-width: 1120px) {
    .orderContainer {
        display: flex;
        flex-direction: row;
        width: 707px;
        padding: 24px 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--light-grey-primary);
    }

    .mobileHeader {
        display: none;
    }

    .item {
        width: 160px;
        flex-shrink: 0;
        color: var(--primary-dark);
        font-family: var(--font-primary);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}

