.wrapperAlso
{
    display: flex;
    padding:80px 0 80px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}
.headerAlso
{
    display: flex;
    width: 1120px;
    justify-content: space-between;
    align-items: flex-end;
}
.alsoMain
{
    color: #000;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.6px;
}
.moreAlso
{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #121212;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.cardsAlso
{
    display: flex;
    align-items: flex-start;
    gap: 25px;
    margin: 0;
}
.arrow
{
display: flex;
    align-items: end;
    margin-left: 3px;
}
@media (max-width: 769px)
{
    .headerAlso
    {
        flex-direction: column;
        align-items: start;
    }
    .cardsAlso
    {
        flex-direction: column;
}
}