.typesBlock {
    display: none;
    margin-bottom: 20px;
    width: 100%;
}

.filterCategories > p,
.filterPrice > p {
    color: var(--regular-grey);
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 600;
    margin: 15px 0 10px 0;
}

.filterCatHead, .filterPriceHead {
    border: var(--regular-grey) solid 2px;
    border-radius: 8px;
    background-image: url("../../../../../../icons/shop_page/arrowDownMini.svg");
    background-size: 9px;
    background-position: calc(100% - 15px);
    padding: 10px 0 10px 13px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--primary-dark);
    background-repeat: no-repeat;
    width: 100%;
}

.filterCatList, .filterPriceList {
    display: none;
    padding: 10px;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 64px 64px -48px rgba(15, 15, 15, 0.10);
    border: 1px solid var( --primary-light-theme);
    scrollbar-color: darkgray gray;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.filterCatList > li,
.filterPriceList > li {
    position: relative;
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    line-height: 1.625rem;
    padding: 15px;
    color: var(--regular-grey);
}

.filterCatList > li:hover,
.filterPriceList > li:hover {
    color: var(--primary-dark);
    font-weight: 600;
    background-color: var(--primary-light-theme);
    border-radius: 8px;
}

.checked {
    font-weight: 600;
    color: var(--primary-dark) !important;
}

@media screen and (min-width: 768px) {
    .typesBlock {
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 0;
        width: calc(50% - 15px);
    }

    .typesBlock {
        min-width: 440px;
    }

    .filterCategories,
    .filterPrice {
        position: relative;
        width: 47%;
        min-width: 180px;
    }

    .filterCategories > p,
    .filterPrice > p {
        font-size: 1rem;
        margin: 10px 0;
    }

    .filterCatHead, .filterPriceHead {
        padding: 8px 16px;
        background-position: calc(100% - 30px);
    }

    .filterCatList, .filterPriceList {
        position: absolute;
        z-index: 100;
        width: 262px;
        border-radius: 12px;
    }

    .close {
        display: none !important;
    }

}