.shopPage {
    margin: 0 32px;
    font-family: var(--font-primary);
}

.pageHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 308px;
    min-width: 311px;
    background-image: url('../../../../images/shop_page/shopPageHeaderMobile.webp');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    background-size: 100%;
}

.pageHeader > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 107px;
    line-height: 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.pageHeader > div > a {
    text-decoration: none;
    color: var(--semibold-grey-text);
}

.pageHeader > div > a:visited,
.pageHeader > div > a:hover,
.pageHeader > div > a:focus {
    color: var(--semibold-grey-text);
}

.pageHeader > div > img {
    height: 8px;
}

.pageHeader > div > p {
    margin: 0;
}

.pageHeader > h1 {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: -0.025rem;
    margin: 10px 0;
}

.pageHeader > p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0 10px;
}

.categoryNameDesktop3 {
    display: none;
}

.categoryName {
    height: 58px;
    display: flex;
    align-items: center;
}

.categoryName > p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
}

.searchRequest{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media screen and (min-width: 768px) {

    .pageHeader {
        background-image: url("../../../../images/shop_page/shopPageHeaderDesktop.webp");
        background-size: cover;
        height: 392px;
    }

    .pageHeader > h1 {
        font-size: 3.375rem;
        line-height: 3.625rem;
        letter-spacing: -0.0625rem;
        margin: 15px 0;
    }

    .pageHeader > p {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .filterSortBlock {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 30px 0 20px 0;
    }

    .filterAndNameDisplay3 {
        display: flex;
        justify-content: start;
        height: 40px;
        width: 50%;
        align-items: center;
    }

    .filterAndNameHide {
        display: none;
    }

    .categoryNameDesktop3 {
        display: block;
    }

    .categoryNameDesktop3 > p {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 600;
        margin: 0;
    }

    .categoryName {
        display: none;
    }

    .display3filterTypes {
        display: flex;
        justify-content: space-between;
    }
}
