.offer
{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 24px;
}

.cart
{
    margin-right: 16px;
}

label
{
    display: flex;
    line-height: 26px;
    word-wrap: break-word;
    color: #343839;
    font-size: 16px;
}

.numbers
{
    color: #141718;
    font-size: 34px;
    word-wrap: break-word;
    line-height: 38px;
    background-color: #F3F5F7;
    padding: 11px 9px 11px 10px;
}

.text
{
    color: #6C7275;
    font-size: 12px;
}