
.sortBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 311px;
    height: 56px;
    border-bottom: 1px solid var(--light-grey-primary);
    border-top: 1px solid var(--light-grey-primary);
}

.sortSelect {
    position: relative;
    display: block !important;
}

.sortHead {
    background-image: url("../../../../../icons/shop_page/arrowDown.svg");
    background-size: 10px;
    padding-right: 20px;
    background-position: right;
}

.sortHead {
    cursor: pointer;
    width: max-content;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    background-repeat: no-repeat;
}

.sortList {
    position: absolute;
    margin-top: 30px;
    width: 150px;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 64px 64px -48px rgba(15, 15, 15, 0.10);
    border: 1px solid var(--primary-light-theme);
    padding: 10px;

}

.sortList > li {
    position: relative;
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var( --regular-grey);
    padding: 15px 15px;
}

.sortList  > li:hover {
    color: var(--primary-dark);
    font-weight: 600;
    background-color: var( --primary-light-theme);
    border-radius: 8px;
}

.chosen {
    font-weight: 600;
    color: var( --primary-dark) !important;
}

@media screen and (min-width: 768px) {
    .sortBlock {
        border-top: none;
        border-bottom: none;
        flex-direction: column;
        align-items: start;
        height: 80px;
        min-width: min-content;
    }

    .sortBlockDisplay3 {
        flex-direction: row;
        justify-content: end;
        align-items: center;
        height: 40px;
    }

    .sortHead {
        background-size: 10px;
        padding-right: 20px;
        margin: 10px 0;
    }

    .sortHeadDisplay3 {
        background-size: 10px;
        padding-right: 20px;
        margin: 0  27px 0 0;
        font-size: 1rem;
    }

    .sortList {
        border-radius: 12px;
    }

}

@media screen and (min-width: 817px) {

    .sortBlock {
        flex-direction: row;
        justify-content: end;
        align-items: center;
        height: 40px;

    }

    .sortHead {
        background-size: 10px;
        padding-right: 20px;
        margin: 0  27px 0 0;
        font-size: 1rem;
    }
}