.auth-page {
    font-family: var(--font-primary);
    background-color: var(--darktheme-text-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.left-side-of-site {
    display: flex;
    flex: 1;
    width: 50vw;
    height: 100vh;
    flex-wrap: wrap;

  }
  .right-side-of-site {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 50vw;
    height: 100vh;
    flex-wrap: wrap;
  }
  .pasteImage {
    background: var(--primary-light-theme);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgChair {
    width: 48vw;
  }
  .legant-of-left-side {
    position: absolute;
    width: 105px;
    height: 24px;
    left: 24vw;
    top: 32px;
    transform: translateX(-50%);
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--black-text);
  }
.auth-form-right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 32vw;
    height: 35vh;
    background: var(--darktheme-text-secondary);
    }
    .auth-form-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 32vw;               
    height: 9vh;
    flex: none;    
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
.h4{
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
    color: var(--primary-dark);
    }
    .auth-form-subtitle{
    width: 32vw; 
    height: 26px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--regular-grey);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;  
    text-align: left  
    }
    .signUplink{
    color: var(--primary-green-theme);  
    }
    .auth-form-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 32vw; 
    height: 16vh;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
    .form-in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 32vw; 
    height: 16vh;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 0px;
    }
.option-form-sign-in{
    display: flex;
    flex-direction: row;
    width: 32vw; 
    height: 2vh;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
    .sign-in-radio-button {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    top: 1px;
    background: var(--darktheme-text-fade);
    border: 1.5px solid var(--regular-grey);
    border-radius: 4px; 
    }
    .sign-in-remember-me{
    width: 8vw;
    height: 26px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--regular-grey); 
    }
    .sign-in-body{
      margin-left: 12vw;
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: var(--primary-dark);
      }
@media (min-width: 1440px) {
      .auth-page{
        width: 100vw;
        height: 100vh;
        }
        .left-side-of-site {
          width: 50vw;
          height: 100vh;
        }
        .right-side-of-site {
        width: 50vw;
        height: 100vh;
        }
        .legant-of-left-side {
        left: 40vw;
        }      
        .imgChair{
          width: 50vw;
        } 
      
    }
@media (min-width: 768px) and (max-width: 1439px) {
.auth-page{
width: 100vw;
height: 100vh;
}
.left-side-of-site {
  width: 40vw;
  height: 100vh;
}
.right-side-of-site {
width: 40vw;
height: 100vh;
}
.legant-of-left-side {
left: 25vw;
}      
.imgChair{
  width: 50vw;
} 
.auth-form-right-side{
  width: 45vw;
  height: 48vh;
} 
.auth-form-title{
  width: 45vw;
}
.auth-form-form{ 
  width: 45vw;
}
.form-in {
  width: 45vw;
}
.option-form-sign-in{
  width: 45vw;
}
.sign-in-remember-me{
  width: 15vw;
}
.sign-in-body{
  margin-left: 8vw;
}
    }
    @media (min-width: 373px) and (max-width: 767px) {
      .auth-page{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
}
      left-side-of-site {
        width: 100vw;
        height: 50vh;
      }
      .right-side-of-site {
        width: 100vw;
        height: 50vh;
      }
      .legant-of-left-side {
        left: 48vw;
      }      
.imgChair{
  width: 100vw;
} 
.auth-form-right-side{
  width: 90vw;
  height: 48vh;
} 
.auth-form-title{
  margin-top: 20px;
  width: 85vw;
}
.auth-form-form{ 
  width: 85vw;
}
.form-in {
  width: 84vw;
}
.option-form-sign-in{
  width: 84vw;
}
.sign-in-remember-me{
  width: 30vw;
}
.sign-in-body{
  margin-left: 10vw;
}
.auth-form-subtitle{
  width: 84vw;
}
} 