.auth-page {
    font-family: var(--font-primary);
    background-color: var(--darktheme-text-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.left-side-of-site {
    display: flex;
    flex: 1;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;

  }
  .right-side-of-site {
    display: flex;
    /* margin:  auto; */
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
  }
.auth-form-right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 100%;
    right: 100%;
    top: 100%;
    background: var(--darktheme-text-secondary);
    }
    .auth-form-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: clamp(300px, 50%, 456px);               
    height: 94px;
    flex: none;    
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    .auth-form-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: clamp(300px, 50%, 456px); 
    height: 44px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    .auth-form-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: clamp(300px, 50%, 456px); 
    height: 44px;
    flex: none;
    order: 0;
    flex-grow: 1;
    }
    .h4{
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
    color: var(--primary-dark);
    }
    .auth-form-subtitle{
    width: clamp(300px, 50%, 456px); 
    height: 26px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--regular-grey);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;  
    text-align: left  
    }
    .signUplink{
    color: var(--primary-green-theme);  
    }
    .auth-form-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: clamp(300px, 50%, 456px); 
    height: 170px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }
    .form-in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: clamp(300px, 50%, 456px); 
    height: 170px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    .form-input1{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 10px;
    width: clamp(300px, 50%, 456px); 
    height: 40px;
    border-bottom: 1px solid var(--light-grey-primary);
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .content-input1{
     box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 8px;
    gap: 16px;
    width: clamp(300px, 50%, 456px); 
    height: 40px;
    border-bottom: 1px solid var(--light-grey-primary);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    .form-input2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 10px;
    width: clamp(300px, 50%, 456px); 
    height: 40px;
    border-bottom: 1px solid var(--light-grey-primary);
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    .content-input2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 8px;
    gap: 16px;
    width: clamp(300px, 50%, 456px); 
    height: 40px;
    border-bottom: 1px solid var(--light-grey-primary);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
    .option-form-sign-in{
    position: relative;
    width: clamp(300px, 50%, 456px); 
    height: 26px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    }
    .sign-in-forgot-password{
    position: absolute;
    width: clamp(80px, 50%, 139px);
    height: 26px;
    right: 0px;
    top: calc(50% - 26px/2);
    }
    .sign-in-body{
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: var(--primary-dark);
    }
    .sing-in-checkbox{
    position: absolute;
    width: clamp(40px, 50%, 110px); 
    height: 26px;
    left: 0px;
    top: 0px;
    }
    .sign-in-radio-button {
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
   
    top: 1px;
    background: var(--darktheme-text-fade);
    border: 1.5px solid var(--regular-grey);
    border-radius: 4px; 
    }
    .sign-in-remember-me{
    position: absolute;
    width: 110px;
    height: 26px;
    left: 25px;
    top: 0px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--regular-grey); 
    }
    @media (min-width: 1440px) {
      .left-side-of-site{
        width: 30%;
      }
     .imgChair{
      width: 95%;
     }
      .pasteImage {
        width: 98%;
      }
      .right-side-of-site {
        margin: 0 auto;
        padding-left: 100px;
      }
    }
    @media (min-width: 768px) and (max-width: 1439px) {
      .auth-page{
        display: flex;
        flex-direction: column;
      }
      .left-side-of-site {
        width: 50%;
      }
      .imgChair{
        width: 95%;
       }
        .pasteImage {
          width: 98%;
        }
      .right-side-of-site {
        width: 50%;
        max-width: 600px;
        margin: 0 auto;
        padding-left: 50px;
      }
      
    }
    @media (min-width: 374px) and (max-width: 767px) {
      .auth-page{
        width: 100%;
        text-align: center;
        flex-direction: column;
      }
      .left-side-of-site{
        width:100%;
        
      }
      .imgChair{
      width: 100%;
     }
      .pasteImage {
        width: 98%;
      }
      .right-side-of-site {
        width: 30%;
        max-width: 320px;
        margin: 20px, 10px;
        padding: 10px;
      }
      .auth-form-right-side {
        width: 100%;
      }
      .sing-in-checkbox{
      position: absolute;
      width: 110px; 
    height: 26px;
    left: -100px;
    top: 0px;
        }
      
     
    } 