.Button12 {
background-color: var(--primary-dark);
border-radius: 8px;
font-family: var (--font-primary);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
text-align: center;
letter-spacing: -0.4px;
color: var(--darktheme-text-primary);
margin-top: 2px;            
}
             