.block {
    display: none;
}

@media screen and (min-width: 768px) {
    .block {
        display: block;
        width: 254px;
    }

    .price {
        display: flex;
        flex-direction: column;
        /*margin-bottom: 1vw;*/
    }

    .categories > p,
    .price > p {
        font-size: 16px;
        font-weight: 600;
        color: #121212;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .price > p {
        margin: 30px 0 12px 0;
    }

    .categories > ul {
        height: 150px;
        overflow-y: scroll;

        /*overflow-x: hidden;*/
        /*overflow-y: auto;*/

        scrollbar-color: darkgray gray;
        scrollbar-width: thin;
        overscroll-behavior: contain;
    }

    .categories > ul::-webkit-scrollbar {
        width: 7px;
        background-color: #F8F9FA;
        padding: 5px;
    }

    .categories > ul::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #D9D9D9;
    }

    .categories > ul > li {
        cursor: pointer;
        list-style: none;
        font-weight: 600;
        font-size: 14px;
        color: #807E7E;
        margin: 10px 0;
    }

    .categories > ul > li:hover {
        color: #121212;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .price > label {
        cursor: pointer;
        display: flex;
        justify-content: start;
        position: relative;
        user-select: none;
        margin: 8px 0;
    }

    input[type='checkbox'] {
        opacity: 0;
        position: absolute;
        height: 0;
        width: 0;
    }

    .checkboxCheckmark {
        position: absolute;
        left: 150px; /* 254 */
        height: 24px;
        width: 24px;
        border: 2px solid #969fa1;
        border-radius: 4px;
    }

    .checkboxCheckmark::after {
        content: '';
        position: absolute;
        left: 7px;
        top: 2px;
        width: 6px;
        height: 11px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    input[type='checkbox']:checked ~ .checkboxCheckmark {
        background-color: #121212;
        border-color: #121212;
    }

    input[type='checkbox']:checked ~ .checkboxCheckmark::after {
        opacity: 1;
    }

    .price > label:hover input[type='checkbox'] ~ .checkboxCheckmark {
        border-color: #595c60;
    }

    .price > label:hover input[type='checkbox']:checked ~ .checkboxCheckmark {
        background-color: #121212;
        border-color: #121212;
    }

    .price > label > p {
        font-size: 14px;
        font-weight: 600;
        color: #807E7E;
    }

    .price > label:hover {
        color: #121212;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .price > label:hover > p {
        color: #121212;
    }

    .inputChecked {
        color: #121212 !important;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}