.order_complete_container {
  padding: 16px;
  border: 1px solid #E8ECEF;
  border-radius: 4px;
  box-shadow: 0 32px 48px rgba(18, 18, 18, 0.10);
  display: flex;
  flex-direction: column;
  gap: 40px;

}
.thanks_text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #6C7275;
  margin: 0 0 16px;
}
.order_info_text {
  margin: 0;
  color: #23262F;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 111.765% */
  letter-spacing: -0.6px;
}
.order_info_images {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.img_wrapper {
  position: relative;
}
.product_amount {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #141718;
  position: absolute;
  right: -5px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el_quantity {
  color: #FCFCFD;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px; /* 100% */
}
.order_info_img {
  width: 80px;
  height: 96px;
  object-fit: cover;
}
.order_details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order_item {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  border-bottom: 1px solid #E8ECEF;
  gap: 8px
}
.order_item_key {
  margin: 0;
  color: #6C7275;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}
.order_item_value {
  margin: 0;
  color: #141718;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}
.button_history_container {
  padding: 12px 40px;
  background-color: #141718;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_history {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 177.778% */
  letter-spacing: -0.4px;
  color: #FFF;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.order_details_wide {
  display: none;
  gap: 32px;
  justify-content: center;
}
.order_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  .order_complete_container {
    padding: 80px 95px;
  }
  .thanks_text {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 121.429% */
    letter-spacing: -0.6px;
  }
  .order_info_text {
    text-align: center;
    max-width: 492px;
    margin: 0 auto;
    width: 100%;
    font-size: 40px;
    line-height: 44px;
  }
  .product_amount {
    width: 32px;
    height: 32px;
    right: -16px;
    top: -16px;
  }
  .el_quantity {
    font-size: 16px;
    line-height: 24px;
  }
  .order_details {
    display: none;
  }
  .order_details_wide {
    display: flex;
  }
  .button_history_container {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}