.product_card {
  display: flex;
  padding: 24px 17px 24px 0;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey-primary);
}

.item_description {
  max-width: 270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.item_img {
  margin-right: 16px;
  width: 80px;
  height: 96px;
  object-fit: cover;
}

.item_info1 {
  display: flex;
  flex-direction: column;
  gap: 11px;

}
.item_info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
}

.item_title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary-dark)
}
.item_price {
  margin: 0;
}
.product_price {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px
}
.item_color {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--regular-grey);
}
.item_counter {
  box-sizing: border-box;
  width: 80px;
  height: 32px;
  border: 1px solid var(--regular-grey);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.counter_icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.item_quantity {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.item_closeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.item_info_wide {
  display: none;
}
.item_info_wide p {
  margin: 0;
}
.item_img_wide {
  width: 80px;
  height: 96px;
  object-fit: cover;
}
.item_info_wide {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item_title_wide {
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: var(--primary-dark)
}
.item_color_wide {
  font-family: var(--font-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--regular-grey);
}
.item_remove {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: var(--regular-grey);
}
.item_image_descr_wide {
  display: none;
  gap: 16px;
}
.item_info2_wide {
  display: none;
  justify-content: space-between;
  align-items: center;
  max-width: 450px;
  width: 100%;
}
.price_wide {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--bold-black);
}
.subtotal_wide {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: var(--bold-black);
}
@media (min-width: 900px) {
  .item_image_descr_wide {
    display: flex;
  }
  .item_info_wide {
    display: flex;
  }
  .item_info2_wide {
    display: flex;
  }
  .product_card {
    padding-right: 0;
  }
  .item_hide_900 {
    display: none;
  }
}
@media (min-width: 1120px) {
  .item_info2_wide {
    max-width: 322px;
    width: 100%;
  }
}