
body {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: 'Inter', 'Poppins', 'Acme', 'Montserrat', 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
