*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  /*background-colors-dark: buttons, footer*/
  /*most headers, active borders neutral-07*/
  --primary-dark: #141718;
  /*background-colors-green: homepage, product, shop cart*/
  --primary-green-theme: #38CB89;
  /*background-colors-light neutral-02*/
  --primary-light-theme: #F3F5F7;
  /*background-colors-light newsletter grey*/
  --primary-light-theme-secondary: #F2F4F6;

  /*typography*/

  --black-text: #000000;
  /*headers*/
  --bold-black: #121212;
  /*neutral-02*/
  --regular-text: #23262F;
  --semibold-grey-text: #605F5F;
  /*neutral-04 text, borders*/
  --regular-grey: #6C7275;
  /*neutral-03 text, borders*/
  --light-grey-primary: #E8ECEF;
  --light-grey-secondary: #EAEAEA;
  --light-grey-fade: #CBCBCB;
  /*neutrals-5*/
  --inactive-grey: #B1B5C3;

  --darktheme-text-primary: #FFFFFF;
  /*neutral-01*/
  --darktheme-text-secondary: #FEFEFE;
  --darktheme-text-fade: #FCFCFD;
  --errors-form-text: #d62828;
  /*fonts*/
  --font-primary: Inter, sans-serif;
  --font-secondary: Poppins, sans-serif;
  /*breakpoints*/
  --breakpoint-md: 769px;
  --breakpoint-lg: 1120px;
}
