.cart_main_container {

}
.coupon_container_wide {
  display: none;
}
.coupon_input_wide {
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--regular-grey);
}

@media (min-width: 1120px) {
  .cart_main_container {
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;

  }
  .coupon_container_wide {
    display: block;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto 80px;
  }
  .coupon_input_wide {
    max-width: 424px;
    width: 100%;
    margin-bottom: 0;
  }
  .coupon_header {
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: var(--primary-dark);
  }
  .coupon_subheader {
    margin-top: 7px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--regular-grey);
  }
}