.product_card_checkout {
  display: flex;
  padding: 24px 17px 24px 0;
  justify-content: space-between;
  border-bottom: 1px solid #E8ECEF;
}
.product_img {
  margin-right: 16px;
  width: 80px;
  height: 96px;
  object-fit: cover;
}
.product_description {
  max-width: 270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.product_info {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.product_title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product_price {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px
}
.product_color {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #6C7275;
}
.product_counter {
  box-sizing: border-box;
  width: 80px;
  height: 32px;
  border: 1px solid #6C7275;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.counter_icon {
  width: 16px;
  height: 16px;
}
.item_quantity {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
@media (min-width: 920px) {
  .product_card_checkout {
    margin-bottom: 24px;
  }
  .product_card_checkout:last-child {
    margin-bottom: 0;
  }
}
