.accountContent {
    display: flex;
    padding: 0 160px 80px 160px;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

.backButton {
    display: none;
}

.title {
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: var(--black-text);
    font-family: var(--font-secondary);
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -1px;
}


.accountMainContainer {
    display: flex;
    align-items: flex-start;
    gap: 7px;
}

.profileSection {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--primary-light-theme);
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.avatar figcaption {
    white-space: nowrap;
    color: var(--black-text);
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.sideMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.navLink {
    text-decoration: none;
    color: var(--regular-grey);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    word-wrap: break-word
}

.navLinkActive {
    color: #141718;
}

.sideMenuEl {
    color: var(--regular-grey);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    word-wrap: break-word
}

@media (max-width: 768px) {
    .header {
        display: flex;
        width: 375px;
        padding: 16px 0 40px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .backButton {
        background-color: transparent; /* Прозрачный фон */
        border: none;
        color: var(--semibold-grey-text);
        padding: 5px 10px; /* Внутренние отступы */
        font-family: var(--font-primary);
        font-size: 14px;
        cursor: pointer;
        outline: none;
        display: inline-flex; /* Для выравнивания иконки и текста */
        align-items: center; /* Выравнивание элементов по центру */
        gap: 5px; /* Расстояние между иконкой и текстом */
    }

    .title {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.4px;
        padding: 20px 0;
    }

    .accountMainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profileSection {
        width: 375px;
        gap: 40px
    }
}

