.headerBlogMain
{
    display: flex;
    padding: 0 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}
.imgBlog
{
    display: flex;
    width: 1120px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: no-repeat;
overflow: hidden;
}
.textBlog
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;

}
.ourBlogText
{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -1px;
    text-shadow: 1px 1px 5px whitesmoke;
}


@media (max-width: 769px)
{
    .headerBlogMain
    {
        display: none;
    }
}