.complete_container {
  padding: 0 0 40px;
}
.back_home_arrow {
  /*padding-left: 32px;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-top: 16px;
}
.back_home_arrow_text {
  margin: 0 0 0 4px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #605F5F
}
.arrow_img {
  width: 12px;
  height: 12px;
}
.header_complete_heading {
  font-size: 40px;
  margin: 32px 0 20px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 44px; /* 110% */
  letter-spacing: -0.4px;
}
.complete_step_container {
  /*padding-left: 32px;*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 26px;
  gap: 32px;
}
.active_complete_circle {
  background-color: #23262F;
  color: #FCFCFD;
}
.step_box_cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 256px;
  width: 100%;
  padding-bottom: 26px;
  border-bottom: 2px solid #38CB89;
}
.step_box_cart_active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 256px;
  width: 100%;
  padding-bottom: 26px;
  border-bottom: 2px solid #141718;
}
.subheader_step3_complete {
  margin: 0 0 0 17px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.step1 {
  display: none;
}
.step2 {
  display: none;
}
.header_circle {
  width: 42px;
  height: 42px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complete_circle {
  background-color: #38CB89;
  color: #FFFFFF;
}
.complete_subheader {
  margin: 0 0 0 17px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #38CB89;
}
.hide {
  display: none;
}
@media (min-width: 650px) {
  .step2 {
    display: flex;
  }
}
@media (min-width: 769px) {
  .back_home_arrow {
    display: none;
  }
}
@media (min-width: 900px) {
  .step1 {
    display: flex;
  }
  .header_complete_heading {
    font-size: 54px;
    margin: 72px 0 40px;
  }
  .complete_step_container {
    max-width: 832px;
    width: 100%;
    margin: 0 auto 26px;
    justify-content: space-between;
    padding-left: 0;
  }
}